// For Bootstrap
.w-fit-content {
  width: fit-content !important;
}

// Table
.table-colored {
  tr {
    &:nth-of-type(even) {
      background-color: $dark-blue;
    }
    &:nth-of-type(odd) {
      background-color: $light-blue;
    }

    td,
    th {
      color: white;
      background-color: transparent;
      font-family: $body-secondary-font;
    }
  }
}
.table-transparent {
  td,
  th {
    background-color: transparent;
  }
}
.table-white {
  td,
  th {
    color: white;
  }
}
.table-center {
  margin: auto auto 0;

  @media (min-width: 767.98px) {
    width: 70%;

    td,
    th {
      font-size: 1.5rem;
      padding: 1rem 3rem;
    }
  }
}

// Main Background
.primary-gradient-bg {
  background-color: $dark-off-black;
  background-image: linear-gradient(45deg, $dark-off-black, $dark-blue);
}
.primary-bg {
  background-color: $dark-blue;
}
.secondary-bg {
  background-color: $light-blue;
}

// Social Links
.social-links {
  li {
    &:hover a {
      background-color: #fff;
      transform: scale(1.2);

      svg[class*="github"] {
        color: $github;
      }
      svg[class*="youtube"] {
        color: $youtube;
      }
      svg[class*="discord"] {
        color: $discord;
      }
      svg[class*="twitter"] {
        color: $twitter;
      }
      svg[class*="facebook"] {
        color: $facebook;
      }
      svg[class*="instagram"] {
        color: $instagram;
      }
      svg[class*="linked"] {
        color: $linkedin;
      }
    }
    a {
      display: block;
      padding: 10px;
      border-radius: 15px;
      transition: all 0.3s;
      background-color: rgba(255, 255, 255, 80%);

      svg {
        color: #222;
        transition: color 0.3s;
      }
    }
  }
}
