.heading-text {
  padding: 3rem 0;
  text-align: center;

  .main-quote {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-wrap: balance;
    font-style: italic;
    &.stroke {
      border-bottom: 1px solid white;
    }
  }
  .main-heading {
    font: {
      weight: 100;
    }

    &.stroke {
    }
  }
}

.middle-line {
  display: flex;

  $gap-around-heading: 20px;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid white;
    margin: auto;
  }
  &:before {
    margin-right: 20px;
  }
  &:after {
    margin-left: 20px;
  }
}
