.heading-text {
  padding: 3rem 0;
  text-align: center;

  .main-quote {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-wrap: balance;
    font-style: italic;
    font-family: $body-secondary-font;

    &.stroke {
      border-bottom: 1px solid white;
    }
  }
  .main-heading {
    font: {
      weight: 100;
    }

    &.stroke {
      width: fit-content;
      padding: 0.5rem 3rem;
      margin: 0 auto 3rem;
      position: relative;
      text-transform: capitalize;
      border-bottom: 1px solid white;
      @media (max-width: 767.98px) {
        padding: 0.5rem 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -75px;
        left: 50%;
        width: 1px;
        height: 75px;
        background-color: white;
        transform: translateX(-50%);
      }
    }
  }
}

.middle-line {
  display: flex;

  $gap-around-heading: 20px;

  &:before,
  &:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid white;
    margin: auto;
  }
  &:before {
    margin-right: 20px;
  }
  &:after {
    margin-left: 20px;
  }
}
