.main-landing {
  min-height: calc(100vh - 76px);
  background: {
    size: cover;
    position: 50%;
  }
  padding-bottom: 5rem;
  @include overlay(transparent, 0) {
    background-image: linear-gradient(to top, black, transparent 75%);
  }

  @media (min-width: 767.98px) {
    .main-heading {
      font-size: 4rem !important;
    }
  }
}
