// Media
@mixin media($points) {
  @if $points == mobile {
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $points == small {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: $min-mobile) and (max-width: $max-small) {
      @content;
    }
  } @else if $points == medium {
    // Medium devices (tablets, 768px and up)
    @media (min-width: $min-small) and (max-width: $max-medium) {
      @content;
    }
  } @else if $points == desktops {
    // Large devices (desktops, 992px and up)
    @media (min-width: $min-medium) and (max-width: $max-desktop) {
      @content;
    }
  } @else if $points == large-desktops {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $points == min-mobile {
    @media (min-width: $min-mobile) {
      @content;
    }
  } @else if $points == min-small {
    @media (min-width: $min-small) {
      @content;
    }
  } @else if $points == max-small {
    @media (min-width: $max-small) {
      @content;
    }
  } @else if $points == min-medium {
    @media (min-width: $min-medium) {
      @content;
    }
  } @else if $points == max-medium {
    @media (min-width: $max-medium) {
      @content;
    }
  } @else if $points == max-desktop {
    @media (min-width: $max-desktop) {
      @content;
    }
  } @else {
    @error "Media is unknown";
  }
}

// Animation
@mixin animation(
  $name,
  $duration: 0s,
  $timing-function: ease,
  $iteration-count: 1,
  $fill-mode: normal,
  $delay: 0s
) {
  animation: $name $duration $timing-function $iteration-count $fill-mode $delay;
  // Animation KeyFrames
  @keyframes #{$name} {
    @content;
  }
}
