.preloader {
  $spinner-width: 200px;
  $border-width: 5px;
  $border-width-2: $border-width * 2;
  $spinner-width-2: $spinner-width + 50px;

  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  transition: background-color 1s;
  &.loaded {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility, 1s;
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  > .spin {
    width: $spinner-width;
    height: $spinner-width;
    position: relative;
    border: $border-width solid blue;
    border-style: solid dotted;
    border-radius: 50%;
    animation: spinner 1s linear infinite;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: transparent;
    }
    &::before {
      width: $spinner-width-2;
      height: $spinner-width-2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: $border-width-2 solid #2196f3;
      border-bottom-color: transparent;
    }
    &::after {
      bottom: -(calc($border-width-2 - 3px)) - 3px;
      right: $border-width-2 + 5px;
      border: calc($border-width-2 - 3px) solid #2196f3;
    }
  }
}
