.ecs-programs-content,
.ecs-honors-content {
  .program,
  .competition {
    @media (max-width: 767.98px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .container {
      padding: 0 0 80px;

      > .card {
        p.card-text {
          text-align: justify;
        }

        > .header {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60%;
            height: 2px;
            background-color: white;
          }
        }

        > .accepted-students,
        > .awarded-students {
          position: relative;

          @include overlay(transparent, 0) {
            height: 1000%;
            background-image: linear-gradient(to bottom, black, transparent 95%);
            transition: opacity 0.5s;
          }

          &:has(.collapsing)::after {
            opacity: 0;
          }

          .collapse {
            position: relative;

            &:not(.show) {
              display: block;
              height: 50px;
            }
          }

          > .collapsing {
            height: 50px;
            overflow: visible;
            transition: height 0.3s;
          }

          .toggler {
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            transition: top 0.3s, bottom 0.3s;

            &::before {
              content: "See Accepted Students";
            }
          }

          &:has(.show) {
            &::after {
              opacity: 0;
            }

            .toggler {
              &::before {
                content: "Hide Accepted Students";
              }
            }
          }

          .card {
            img[src*="."] {
              display: none;
            }
          }
        }
      }
    }
  }
}

.ecs-honors-content {
  .competition {
    .container {
      > .card {
        > .awarded-students {
          .toggler {
            &::before {
              content: "See Top Rank Students";
            }
          }

          &:has(.show) {
            .toggler {
              &::before {
                content: "Hide Top Rank Students";
              }
            }
          }
        }
      }
    }
  }
}
