.about-main-content {
  .overview {
    ul {
      list-style: disc;
      width: fit-content;
      margin: 20px auto 0;
      font-family: $body-secondary-font;
      @media (min-width: 767.98px) {
        font-size: 1.5rem;
      }

      li {
        &:not(:last-of-type) {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .stats {
    h3 {
      padding-left: 6rem;
      padding-right: 6rem;

      > p:first-child {
        font-size: 3rem;
        margin-bottom: 5px !important;
        &::after {
          content: "+";
          font-size: 0.75em;
        }
      }
      > p:last-child {
        font-size: 1.25rem;
      }
    }
  }
}
