.academics-main-content {
  table {
    margin: auto auto 0;

    @media (min-width: 767.98px) {
      width: 60%;

      td,
      th {
        font-size: 1.5rem;
        padding: 1rem 3rem;
      }
    }
  }

  tr {
    &:nth-of-type(even) {
      background-color: $dark-blue;
    }
    &:nth-of-type(even) {
      background-color: $light-blue;
    }

    td,
    th {
      color: white;
      background-color: transparent;
      font-family: $body-secondary-font;
    }
  }
}
