.contact-content {
  .maps {
    .map-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .see {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }

  .col {
    max-width: 350px;

    .card {
      border-radius: 1rem;
      @media (min-width: 992px) {
        align-items: center;
      }

      > img,
      > .card-body {
        border-radius: 1rem;
      }

      > .card-body {
        margin-top: 1.5rem;
        padding: 1.5rem;
      }
    }
  }

  .reach {
    @media (min-width: 1400px) {
      .col {
        .card {
          position: relative;
          border: none;

          > img {
            z-index: 3;
          }

          > .card-body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }

        &:first-of-type .card .card-body {
          left: calc(-100% - 20px);
        }
        &:last-of-type .card .card-body {
          left: calc(100% + 20px);
        }
      }
    }
  }

  .web-team {
    .col {
      max-width: 420px;
    }
  }
}
